In [3]:
import json
import pandas as pd

In [5]:
json_path="combined_job_naukri_data.json"
job_df = pd.read_json(json_path)

In [8]:
job_df.head()

,job_title,company_name,company_rating,company_review_count,experience,salary,location,job_description,job_tags
0,"Chatbot, Machine Learning and Artificial Intel...",P2F Semi,Not Found,Not Found,2-4 Yrs,Not disclosed,Bangalore/Bengaluru,Understanding the end user s requirement and t...,"[Computer science, HTML;Javascript, deep learn..."
1,Senior Engineer – Artificial Intelligence / Co...,SuccessR Hrtech Pvt Ltd,4.2,(3 Reviews),3-7 Yrs,Not disclosed,Kanchipuram,Senior Engineer – Artificial Intelligence / Co...,"[Artificial Intelligence, C++, frameworks, Ten..."
2,Artificial Intelligence Engineer,NAYAN INDIA SCIENCE AND TECHNOLOGIES PRIVATE L...,4.8,(5 Reviews),3-8 Yrs,Not disclosed,New Delhi,Roles and Responsibilities About the jobA high...,"[Tensorflow, Pytorch, IT Skills, Java, Python,..."
3,Artificial Intelligence Software Engineer,Acorre Energy Sdn Bhd,Not Found,Not Found,3-8 Yrs,"1,00,000 - 2,25,000 PA.",Malaysia,Job DescriptionAcorre Energy Sdn Bhd is at the...,"[artificial intelligence, IT Skills, Python, T..."
4,Artificial Intelligence/Machine Learning Engin...,Serving Skill,Not Found,Not Found,2-5 Yrs,Not disclosed,"Noida, Bangalore/Bengaluru",Responsibilities Include (but not limited to) ...,"[Artificial Intelligence, Machine Learning, NL..."

In [10]:
job_df.count()

job_title               27999
company_name            27999
company_rating          27999
company_review_count    27999
experience              27999
salary                  27999
location                27999
job_description         27999
job_tags                27999
dtype: int64

In [11]:
json_path="processed_naukri_job_data.json"
processed_job_df = pd.read_json(json_path)

In [12]:
processed_job_df.head()

,job_title,company_name,company_rating,company_review_count,experience,salary,location,job_description,job_tags,updated_company_review_count,updated_company_rating,average_salary
59,Senior Machine Learning Engineer,Aimonk Labs Private Limited,4.3,(3 Reviews),2-7 Yrs,"5,00,000 - 15,00,000 PA.",Bangalore/Bengaluru\n(WFH during Covid),Must be expert in Python / C++The ideal candid...,"[python, Machine Learning, Pytorch, tensorflow...",3,4.3,1000000
60,Sr. Project Engineer - AI /ML,IDRBT - Institute for Development and Research...,4.8,(17 Reviews),2-5 Yrs,"10,00,000 - 12,00,000 PA.",Hyderabad/Secunderabad,First class regular ME / MTech/ BE / B Tech / ...,"[python, chatbot development, machine learning...",17,4.8,1100000
62,Senior AI and ML - Computer Vision Engineer,Diycam India Pvt Ltd,3.7,(3 Reviews),2-7 Yrs,"6,00,000 - 16,00,000 PA.",Mumbai,Experience across a range of algorithms and me...,"[Object Detection, Artificial Intelligence, Co...",3,3.7,1100000
67,Ai Ml Engineer,Namaste Credit,3.8,(50 Reviews),3-7 Yrs,"8,00,000 - 18,00,000 PA.",Bangalore/Bengaluru,Select appropriate datasets and data represent...,"[Artificial Intelligence, Pandas, Machine Lear...",50,3.8,1300000
72,Machine learning Engineer,The Fastest Media Company,4.7,(3 Reviews),2-7 Yrs,"3,00,000 - 6,00,000 PA.",Ahmedabad,We are looking for a Machine Learning Engineer...,"[Image Processing, statistical analysis, IT Sk...",3,4.7,450000

In [13]:
processed_job_df.count()

job_title                       1397
company_name                    1397
company_rating                  1397
company_review_count            1397
experience                      1397
salary                          1397
location                        1397
job_description                 1397
job_tags                        1397
updated_company_review_count    1397
updated_company_rating          1397
average_salary                  1397
dtype: int64